.loading-container {
  background-color: #181818;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-img {
  height: 90px;
  width: 300px;
}

.loading-heading {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}

.failureView {
  background-color: #181818;
  min-height: 80vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failureImg {
  height: 60px;
  width: 60px;
}

.failureText {
  color: #fff;
}

.retryBtn {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.main-div {
  display: flex;
  min-height: 100vh;
  flex-direction: roe;
  background-color: #181818;
}
