.login {
  margin: 0;
  padding: 0;
  background-image: url('https://res.cloudinary.com/djlggbdls/image/upload/v1771829659/bg4_r64rjw.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #181818;
  height: 350px;
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 150px;
}

.spotify-heading {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
}

.formEl {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 8px;
  width: 100%;
}

.labelEl {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

.inputEl {
  background-color: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px;
  height: 30px;
  width: 100%;
}

.loginBtn {
  background-color: #1db954;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #06441c;
}

.errorMsg {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
